// all banner section is here

.header-banner {
  background-color: vars.$color-gray;
  @media (min-width: 320px) {
    a {
      font-size: vars.$font-xl !important;
    }
  }
  @media (min-width: 576px) {
  }
  @media (min-width: 992px) {
    a {
      font-size: vars.$font-sm !important;
    }
  }
  @media (min-width: 1200px) {
    a {
      font-size: vars.$font-xl !important;
    }
  }
}

.stripe-banner {
  background-color: vars.$color-pink;
}
