// all banner section is here
@use "./variable" as vars;

.header-banner {
  background-color: vars.$color-gray;

  @media (min-width: 320px) {

    a,
    button {
      font-size: vars.$font-12 !important;
    }
  }

  @media (min-width: 576px) {}

  @media (min-width: 992px) {

    a,
    button {
      font-size: vars.$font-12 !important;
    }
  }

  @media (min-width: 1200px) {

    a,
    button {
      font-size: vars.$font-18 !important;
    }
  }
}

/* Mobile Slides */
.mobile-slides {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  justify-content: center;

  .slide-item {
    display: none !important;

    &.active {
      display: flex !important;
    }
  }
}

.slide-item {
  // flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  // display: none;
  justify-content: center;
}

.slide-item.active {
  display: block !important;
  /* Show the active item */
}

.stripe-banner {
  background-color: vars.$color-pink;

  span {
    font-size: vars.$font-12;

  }
}

.dynamic-banner {
  margin-top: vars.$section-space-sm !important;
  margin-bottom: vars.$section-space-sm !important;

  @media (min-width: 768px) {
    margin-top: vars.$section-space-md !important;
    margin-bottom: vars.$section-space-md !important;
  }

  @media (min-width: 1024px) {
    margin-top: vars.$section-space-lg !important;
    margin-bottom: vars.$section-space-lg !important;
  }
}