.breadcrumb-section {
  .breadcrumb-item {
    text-decoration: none;
    cursor: pointer;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      &:hover {
        text-decoration: none;
        cursor: auto;
      }
    }
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 320px) {
      font-size: vars.$font-sm !important;
    }
    @media (max-width: 768px) {
      font-size: vars.$font-xl;
    }
  }
}
