.header-container {
  button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    i {
      font-size: 16px;
    }
  }
  @media (min-width: 320px) {
    .logo-container {
      a {
        font-size: 100%;
        img {
          width: 150px;
        }
      }
    }
  }
  @media (min-width: 576px) {
    .logo-container {
      a {
        font-size: 100%;
        img {
          width: auto;
        }
      }
    }
  }
  @media (min-width: 768px) {
    button {
      i {
        font-size: 20px;
      }
    }
  }
  @media (min-width: 992px) {
    .header-search {
      position: relative;
      input {
        width: 100%;
        padding: 0.75rem 2.5rem 0.75rem 1.5rem;
        border: 1px solid vars.$color-gray;
        &::placeholder {
          color: vars.$primary-color;
          opacity: 0.6;
          font-size: vars.$font-xl;
        }
      }
      button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-80%, -36%);
      }
    }
    .other-container {
      font-weight: bold;
    }
    .customar-account {
      ul.dropdown-menu {
        width: 320px;
        background-color: white;
        li {
          &:first-child,
          &:nth-child(2) {
            padding: 8px 15px;
            background-color: vars.$color-gray;
          }

          button {
            &:hover {
              opacity: 0.8;
              text-decoration: underline;
              outline: 1px solid black;
            }
          }
        }
      }
    }
    // header nav
    .header-nav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        position: relative;
        li {
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: vars.$primary-color;
            font-size: vars.$font-sm;
            font-weight: 500;
            padding: 0.75rem 1rem;
            display: inline-block;
          }
        }
      }
    }

    .nav-navigation {
      position: static;
    }
    .mega-navigation {
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100vw;
      background-color: white;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      opacity: 0;
      visibility: hidden;
      z-index: 10;
    }
    .nav-navigation:hover .mega-navigation {
      opacity: 1;
      visibility: visible;
      z-index: 99 !important;
    }
    .mega-navigation {
      ul {
        li {
          display: block;
          a {
            color: vars.$primary-color;
            text-decoration: none;
            font-size: vars.$font-xl;
            font-weight: 500;
            padding: 0.3rem 1rem;
            display: block;
            &:hover {
              background: vars.$color-gray;
              text-decoration: underline;
              outline: none;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .header-nav {
      ul {
        li {
          a {
            font-size: vars.$font-xl;
          }
        }
      }
    }
  }
  @media (min-width: 1400px) {
  }
}

// mobile menu desing
.mobile-registraion {
  button {
    padding: 10px;
    font-size: 14px;
  }
}
.slide-window {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%; /* Adjust width as needed */
  min-height: 100vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.slide-window.open {
  left: 0;
}

.slide-content {
  padding: 20px;
}
