body.dark-mode {
    background-color: vars.$dark-background;
    color: vars.$dark-primary-color;
    .mobile-navigation{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
        a{
            color: vars.$dark-primary-color !important;
        }
        .slide-window{
            background-color: vars.$dark-background !important;
            color: vars.$dark-primary-color !important;
        }
    }
    .header-search input{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
        border: 1px solid rgb(107 114 128) !important;
        &::placeholder{
            color: vars.$dark-primary-color !important;
        }
    }
    .header-banner {
      background-color: vars.$dark-background !important;
    }
    .header-container{
        background-color: vars.$dark-background !important;
    }
    .header-container .header-nav ul li a {
      color: vars.$dark-primary-color !important;
      background-color: vars.$dark-background !important;
    }
    .header-container .mega-navigation{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .customar-account {
        ul.dropdown-menu {
          width: 320px;
            background-color: vars.$dark-background !important;
          li {
            &:first-child,
            &:nth-child(2) {
              padding: 8px 15px;
              background-color: vars.$dark-background !important;
            }
  
            button {
              &:hover {
                opacity: 0.8;
                text-decoration: underline;
                outline: 1px solid black;
              }
            }
          }
        }
      }
    .home-slider .swiper-slide{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .swiper-pagination-bullet{
        background-color: vars.$dark-primary-color !important;
    }
    .dynamic-banner{
        background-color: #2b292975 !important;
        color: vars.$dark-primary-color !important;

        a{
            color: vars.$dark-primary-color !important;
            background-color: vars.$dark-background !important;
        }
    }
    .newProductSlider{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
        h3{
            color: vars.$dark-primary-color !important;
        }
        p{
            color: vars.$dark-primary-color !important;
        }
    }
    .blogSlider{
        a{
            color: vars.$dark-primary-color !important;
        }
    }
    .dynamic-tab-content{
        button{
            color: vars.$dark-primary-color !important;
        }
    }

    // category page 
    .product-filter-section{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .product-card-body .product-title{
        color: vars.$dark-primary-color !important;
    }
    .product-overlay-listing{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .product-card-image .product-bookmark{
        color: vars.$dark-primary-color !important;
    }
    .product-card-body .price{
        color: vars.$dark-primary-color !important;
    }
    .product-card-body .review span{
        color: vars.$dark-primary-color !important;
    }
    .pagination-number p{
        color: vars.$dark-primary-color !important;
    } 
    .pagination-nav .page-item.active ::after{
        background-color: vars.$dark-primary-color !important;
    }
    .product-card-image .best-product-tag{
        background-color: vars.$dark-primary-color !important;
        color: vars.$dark-background !important;
    }


    // single product page 
    select{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .breadcrumb-item.active{
        color: vars.$dark-primary-color !important;
    }
    .accordion-item{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .accordion-button.shadow-none{
        color: vars.$dark-primary-color !important;
    }
    .accordion-button.shadow-none.collapsed{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }

    h2,h6,h3,h4,p{
        color: vars.$dark-primary-color !important;
    }
    .product-card{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }
    .product-plus-icon{
        color: vars.$dark-background !important;
    }
    .review-star span i,a{
        color: vars.$dark-primary-color !important;
    }
    .progress-bars-area i,span{
        color: vars.$dark-primary-color !important;
    }
    .text-success{
        color: #198754 !important;
    }
    .modal-content{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
    }

    ul.dropdown-menu{
        background-color: vars.$dark-background !important;
        color: vars.$dark-primary-color !important;
        li:hover{
            background-color: vars.$dark-background !important;
            a{
                color: vars.$dark-primary-color !important;

            }
        }
        li{
            a{
                color: vars.$dark-primary-color !important;
            }
        }
    }


  }
  
  body.dark-mode a {
    color: vars.$dark-primary-color;
  }
  
  body.dark-mode .btn {
    background-color: vars.$dark-background !important;
    color: vars.$dark-primary-color;
  }


//   light mode 
body{
    .header-container {
        background-color: vars.$dark-primary-color !important;
      }

     // category page 
     .product-filter-section{
        background-color: vars.$dark-primary-color !important;
    }
    .product-overlay-listing{
        background-color: vars.$dark-primary-color !important;
    }
}