$background: #ffffff;
$primary-color: #000000;
$color-pink: #EADCFD;
$color-gray: #efefef;
$color-red: #ad1f1a;

// dark-mode theme 
$dark-background: #121212;
$dark-primary-color: #ffffff;
$dark-card-bg: #1e1e1e;
$dark-border-color: #333333;
$dark-text-color: #ffffff;




// font-size for mobile
$font-sm: 12px;
$font-xl: 1rem;

// Font Families
$font-primary: 'Averta', sans-serif;
$font-family-base: $font-primary;
$font-family-heading: $font-primary;
$font-family-thin: 'Averta Extrathin', sans-serif;



// section spacing
$section-space-sm: 12px;
$section-space-md: 24px;
$section-space-lg: 30px;


// bootstrap classes 

$offcanvas-vertical-height: 60vh;