$background: #ffffff;
$primary-color: #000000;
$color-pink: #ffb3dd;
$color-gray: #efefef;
$color-red:#ad1f1a;

// dark-mode theme 
$dark-background: #121212;
$dark-primary-color: #ffffff;




// font-size for mobile
$font-sm: 12px;
$font-xl: 1rem;


// bootstrap classes 

$offcanvas-vertical-height:         60vh;