
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */




:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-rgb:22.1, 95.7%, 36.7%;
  --b3:220 13% 91%;
  --bg-gray:#efefef;
}


html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Averta Demo PE', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.bg-gray{
  background-color: var(--bg-gray);
}
.border-base-300{
  --tw-border-opacity: 1;
  border-color: hsl(var(--b3) / var(--tw-border-opacity));
}
.font-cookie-regular {
  font-family: "Cookie", serif;
  font-style: italic;
}
.stripe-banner{
  background-color: hsl(var(--background-rgb));
  padding: .5rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  line-height: 1.625;
  letter-spacing: .05em;
}
.nour-memo-content{
  background-color: rgb(214, 67, 81);
}
.single-post:hover a{
  text-decoration: underline;
}

/* swiper-slider css  */

.swiper {
  min-height: auto !important;
}
.swiper-slide{
  min-height: auto !important;
  display: flex !important;
}
.swiper-button-prev, .swiper-button-next{
  width: 32px !important;
  height: 32px !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 18px !important;
  color: #000000 !important;
}
.swiper-pagination-bullet-active{
  background-color: #000000 !important;
}
.homeSlider,
.categorySlider,
.tabContentSlider{
  padding-bottom: 2rem !important;
}
.swiper-pagination{
  bottom: -4px !important;
}
.tabContentSlider .swiper-pagination{
  bottom: -6px !important;
}
@media (min-width: 1280px) {
  .category-section .swiper-button-prev, 
  .category-section .swiper-button-next{
    display: none !important;
  }
}
  